.body {
    margin: 0px 0px 0px 0px;
    background-color: #000000;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.first {
    z-index: 9;
    position:absolute;
    opacity: 0.3;
}

.second {
    z-index: 1;
    position:absolute;
}
.starChain {
    position:absolute;
}
.starChain img {
    z-index: 10;
    position: absolute;
    cursor: pointer;
}
.starChain .tooltip-inner {
    width:150px;
}
.starChain div {
    background-color:rgba(0,0,0,0);
    cursor:default;
    z-index:12;
}

.btn-group {
    position: absolute;
    z-index: 11;
    top: 78%;
    left: 50%;
    transform: translateX(-50%) translateY(-78%);
}
#myModal, #myModalMsg {
    z-index: 11111;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow-x: hidden;
    overflow-y: hidden;
    min-height:400px;
}
#myModal .modal-dialog, #myModalMsg .modal-dialog {
    width: 400px;
}
#myModalLabel {
    font-weight:bold;
}
.modal-body textarea {
    width: 100%;
    resize: none;
}
.modal-body input, .modal-body textarea {
    margin-bottom: 3px;
}
#divErrorMsg {
    text-align:right;
    color:red;
}
#divMsg {
    position: absolute;
    z-index: 14;
    top: 50%;
    left: 50%;
}